 app-table-view {
	width: 50vw;
	display: inline-block;
	max-height: 50vh;
	min-height: 30vh;
	
	table {
		tr {
			th {
				text-align: center !important;				
			}
			td {
				input, button {
					background-color: rgb(31, 41, 55);
					color: #fff;
					font-size: 1em;
					text-align: center;
					width: 100%;
				}
			}
			td:nth-child(3) {
				input {
					width: 4em;
				}
			}
			td:nth-child(4) {
				input {
					width: 100%;
				}
			}
			td:nth-child(5) {
				input {
					width: 6em;
				}
			}
			td:nth-child(6) {
				input {
					width: 4em;
				}
			}
			td:nth-child(7) {
				input {
					width: 5em;
				}
			}
		}
	}
	
	h4 {
		margin: 1.8em 0em 0em; 
	}
	form {
		input {
			background-color: rgb(31, 41, 55);
			color: #fff;
			width: 108px;
			border-bottom: solid 1px #fff;
			margin-right: 31px;
			font-size: 1em;
			line-height: 2.3em;
			text-align: center;
		}
		input:last-child {
			width: 98px;
			border: solid 1px #fff;
			margin: unset;
		}
	}
 }