/* You can add global styles to this file, and also import other style files */
 
$color_1: inherit;
$color_2: rgb(229, 231, 235);
$color_3: rgb(209, 213, 219);
$color_4: rgb(156, 163, 175);
$color_5: rgb(107, 114, 128);
$color_6: rgb(75, 85, 99);
$color_7: rgb(55, 65, 81);
$color_8: rgb(17, 24, 39);
$color_9: rgb(255, 255, 255);
$font-family_1: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
$background-color_1: transparent;
$background-color_2: rgb(255, 255, 255);
$background-color_3: rgb(243, 244, 246);
$background-color_4: rgb(31, 41, 55);
$background-color_5: rgb(17, 24, 39);
$border-color_1: rgb(229, 231, 235);
$border-color_2: rgb(55, 65, 81);

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	font-family: $font-family_1;
	line-height: 1.5;
}
body {
	margin: 0;
}
a {
	background-color: $background-color_1;
	color: $color_1;
	text-decoration: inherit;
}
[hidden] {
	display: none;
}
* {
	box-sizing: border-box;
	border: 0 solid #e2e8f0;
}

svg {
	display: block;
	vertical-align: middle;
}
video {
	display: block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
.bg-white {
	--tw-bg-opacity: 1;
	background-color: $background-color_2;
}
.bg-gray-100 {
	--tw-bg-opacity: 1;
	background-color: $background-color_3;
}
.border-gray-200 {
	--tw-border-opacity: 1;
	border-color: $border-color_1;
}
.border-t {
	border-top-width: 1px;
}
.flex {
	display: flex;
}
.grid {
	display: grid;
}
.hidden {
	display: none;
}
.items-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.font-semibold {
	font-weight: 600;
}
.h-5 {
	height: 1.25rem;
}
.h-8 {
	height: 2rem;
}
.h-16 {
	height: 4rem;
}
.text-sm {
	font-size: .875rem;
}
.text-lg {
	font-size: 1.125rem;
}
.leading-7 {
	line-height: 1.75rem;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.ml-1 {
	margin-left: .25rem;
}
.mt-2 {
	margin-top: .5rem;
}
.mr-2 {
	margin-right: .5rem;
}
.ml-2 {
	margin-left: .5rem;
}
.mt-4 {
	margin-top: 1rem;
}
.ml-4 {
	margin-left: 1rem;
}
.mt-8 {
	margin-top: 2rem;
}
.ml-12 {
	margin-left: 3rem;
}
.-mt-px {
	margin-top: -1px;
}
.max-w-6xl {
	max-width: 72rem;
}
.min-h-screen {
	min-height: 100vh;
}
.overflow-hidden {
	overflow: hidden;
}
.p-6 {
	padding: 1.5rem;
}
.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.pt-8 {
	padding-top: 2rem;
}
.fixed {
	position: fixed;
}
.relative {
	position: relative;
}
.top-0 {
	top: 0;
}
.right-0 {
	right: 0;
}
.shadow {
}
.text-center {
	text-align: center;
}
.text-gray-200 {
	--tw-text-opacity: 1;
	color: $color_2;
}
.text-gray-300 {
	--tw-text-opacity: 1;
	color: $color_3;
}
.text-gray-400 {
	--tw-text-opacity: 1;
	color: $color_4;
}
.text-gray-500 {
	--tw-text-opacity: 1;
	color: $color_5;
}
.text-gray-600 {
	--tw-text-opacity: 1;
	color: $color_6;
}
.text-gray-700 {
	--tw-text-opacity: 1;
	color: $color_7;
}
.text-gray-900 {
	--tw-text-opacity: 1;
	color: $color_8;
}
.underline {
	text-decoration: underline;
}
.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.w-5 {
	width: 1.25rem;
}
.w-8 {
	width: 2rem;
}
.w-auto {
	width: auto;
}
.grid-cols-1 {
	grid-template-columns: repeat(1,minmax(0,1fr));
}
.items-center {
	align-items: center;
}
.rounded-lg {
	border-radius: .5rem;
}
@media (min-width:640px) {
	.sm {
		&:rounded-lg {
			border-radius: .5rem;
		}
		&:block {
			display: block;
		}
		&:items-center {
			align-items: center;
		}
		&:justify-start {
			justify-content: flex-start;
		}
		&:justify-between {
			justify-content: space-between;
		}
		&:h-20 {
			height: 5rem;
		}
		&:ml-0 {
			margin-left: 0;
		}
		&:px-6 {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
		&:pt-0 {
			padding-top: 0;
		}
		&:text-left {
			text-align: left;
		}
		&:text-right {
			text-align: right;
		}
	}
}
@media (min-width:768px) {
	.md {
		&:border-t-0 {
			border-top-width: 0;
		}
		&:border-l {
			border-left-width: 1px;
		}
		&:grid-cols-2 {
			grid-template-columns: repeat(2,minmax(0,1fr));
		}
	}
}
@media (min-width:1024px) {
	.lg {
		.px-8 {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}
.bg-gray-900 {
	--tw-bg-opacity: 1;
	background-color: $background-color_5;
}
.bg-gray-800 {
	--tw-bg-opacity: 1;
	background-color: $background-color_4;
}
.text-white {
	--tw-text-opacity: 1;
	color: $color_9;
}
.dark {
	&:bg-gray-800 {
		--tw-bg-opacity: 1;
		background-color: $background-color_4;
	}
	&:bg-gray-900 {
		--tw-bg-opacity: 1;
		background-color: $background-color_5;
	}
	&:border-gray-700 {
		--tw-border-opacity: 1;
		border-color: $border-color_2;
	}
	&:text-white {
		--tw-text-opacity: 1;
		color: $color_9;
	}
	&:text-gray-400 {
		--tw-text-opacity: 1;
		color: $color_4;
	}
	&:text-gray-500 {
		--tw-text-opacity: 1;
		color: $color_5;
	}
}
@media (prefers-color-scheme:dark) {
}

 
body {
	font-family: 'Nunito', sans-serif;
}
.mtb1 {
	margin:0.5em 0px;
	width: 100%;
	padding: 0.4em;
}
input[type=submit] {
	margin-top:1.5em;
	cursor:pointer;
}
#newuser {
	display: none;
}
#wordcontainer {
	text-align: center;
}
.leaderboardRow {
	width: 100%;
	display: block;
	padding: 3px 0px;
	position:relative;
}
.score {
	float: right;  
}
.singleLetter{
	border-bottom: 1px solid #fff;
	height: 2em;
	width: 2em;
	display: inline-block;
	margin: 0px 2px;
}
.errorRow {
	width:100%;
	display:block;
	float:left;
}